#box1 {
    width: 200px;
    height: 200px;
    background-color: green;
    position: fixed;
    /* top: 435px; */
    /* left: 288px; */
    /* right: 0px; */
    border: 3px solid firebrick;
}

#box2 { 
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    border: 3px solid firebrick;
    position: absolute;
    top: 50px;
    left: 50px;
} 