/* body {
    height: 100vh;
} */

.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(210, 100%, 58%);
    border: 2px solid firebrick;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.subContainer1 {
    width: 100%;
    height: 40px;
    background-color: #74b9ff;
    border: 2px solid firebrick;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sum {
    width: fit-content;
    height: fit-content;
    background-color: hsl(213, 27%, 94%);
    color: black;
    border: 2px solid crimson;
}

.subContainer2 {
    width: 100%;
    height: 40px;
    background-color: #99c6f4;
    border: 2px solid firebrick;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diff {
    width: fit-content;
    height: fit-content;
    background-color: hsl(213, 27%, 94%);
    color: black;
    border: 2px solid crimson;
}

.subContainer3 {
    width: 100%;
    height: 40px;
    background-color: #99c6f4;
    border: 2px solid firebrick;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#prod {
    width: fit-content;
    height: fit-content;
    background-color: hsl(213, 27%, 94%);
    color: black;
    border: 2px solid crimson;
}

.subContainer4 {
    width: 100%;
    height: 40px;
    background-color: #99c6f4;
    border: 2px solid firebrick;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rem {
    width: fit-content;
    height: fit-content;
    background-color: hsl(213, 27%, 94%);
    color: black;
    border: 2px solid crimson;
}
